.prdLeft_item{
position: relative;
padding-left: 50px;
margin-top: 50px;
margin-bottom: 100px;
}
.prd_cont h4{
    position: relative;
    padding-left: 20px;
    font-size: 30px;
}
.prd_cont h4:before {
    content: "";
    display: block;
    width: 5px;
    height: 30px;
    background-color: #3c9133;
    position: absolute;
    top: 0;
    left: 0;
}
.prd_cont_ul{
    padding-left: 30px;
}
.prd_cont_ul ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    
}
.prd_cont_ul ul li {
    border: 0 none;
}
.prd_cont_ul ul li {
    padding-bottom: 18px;
    margin-bottom: 13px;
    position: relative;
    padding: 4px 0px 4px 15px;
    margin-bottom: 0;
    line-height: 20px;
    transition: padding 0.25s linear;
    
}
.prd_cont_ul ul li:hover {
    padding-left: 10px;
}
.prd_cont_ul ul li a {
    color: #6f6f6f;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.prd_cont_ul ul li:before {
    content: none;
    position: absolute;
    left: 0px;
    top: 5px;
    display: block;
    width: 0px;
    height: 0px;
    background: rgba(0, 0, 0, 0);
    font-family: FontAwesome;
    content: "\f105";
    margin-right: 10px;
    color: #3c9133;
    font-size: 16px;
}