.head_class {
    background: #227d84;
    padding: 7px;
    color: #fff;
}
.review_class h2 {
    text-align: center;
    font-size: 36px
}
.review_class h5 {
    text-align: center;
    padding: 28px;
}
.color_div {
    color: #1f445b;
}

.review_class h6 {
    padding: 30px 0px;
}
.swip img {
    
}
.sw_cont{
    text-align: center;
    padding: 24px;
}
.sw_cont h2{
    font-size: 24px;
}
.sw_cont p{
    font-size: 16px;
}